.main{
    display: flex;
    justify-content: center;
}
.box{
    width: 100px;
    height: 100px;
    background-color: gray;
    color: white;
}
.box-out{
    background-color: black;
    width: 200px;
    height: 200px;
    position: relative;
    color: white;
}
.box-in{
    position: absolute;
    top: 50px;
    left: 50px;
}